pkgbase = artifactory-oss
	pkgdesc = An advanced Binary Repository Manager for use by build tools, dependency management tools and build servers
	pkgver = 6.10.1
	pkgrel = 1
	url = https://bintray.com/jfrog/product/JFrog-Artifactory-Oss/view
	install = artifactory-oss.install
	arch = x86_64
	license = AGPLv2
	depends = java-runtime-headless
	depends = net-tools
	depends = bash
	optdepends = apache: a fully featured webserver
	optdepends = mysql: Fast SQL database server, community edition
	optdepends = postgresql: A sophisticated object-relational DBMS
	options = !strip
	backup = etc/webapps/artifactory/artifactory.config.xml
	backup = etc/webapps/artifactory/artifactory.system.properties
	backup = etc/webapps/artifactory/binarystore.xml
	backup = etc/webapps/artifactory/db.properties
	backup = etc/webapps/artifactory/logback.xml
	backup = etc/webapps/artifactory/mimetypes.xml
	source = jfrog-artifactory-oss-6.10.1.zip::https://bintray.com/jfrog/artifactory/download_file?file_path=jfrog-artifactory-oss-6.10.1.zip
	source = artifactory.service
	source = artifactory-user.conf
	source = artifactory-tmpfile.conf
	source = artifactory.default
	sha256sums = 667407595c7bedfc92ae4949ac5beda8c6fb43af977252313d5d9edc4649c97b
	sha256sums = c7cc41af2479678e6fa605b91c20e6916f6cf374525e9d1552299bae5c5a2aaa
	sha256sums = 2e6285bb5ab580a8f4a47580ffacfec9a537190d94c9fe11a2f82c6e65a9ba8a
	sha256sums = ae3ddc469e5c8702f97df262e65ca1f73f3fda22ee293cd6a7ba87a0e9162467
	sha256sums = cd0bef2a92751060b44b5e50815749b49152a66e7726d5f0c26889c0bc77a3d5

pkgname = artifactory-oss

