pkgbase = artifactory-oss
	pkgdesc = An advanced Binary Repository Manager for use by build tools, dependency management tools and build servers
	pkgver = 7.7.8
	pkgrel = 1
	url = https://bintray.com/jfrog/product/JFrog-Artifactory-Oss/view
	install = artifactory-oss.install
	arch = x86_64
	license = AGPLv2
	depends = java-runtime=11
	depends = inetutils
	depends = net-tools
	optdepends = nginx: Lightweight HTTP server and IMAP/POP3 proxy server (stable)
	optdepends = nginx-mainline: Lightweight HTTP server and IMAP/POP3 proxy server (mainline)
	optdepends = postgresql: Sophisticated object-relational DBMS
	options = !strip
	backup = etc/webapps/artifactory-oss/system.yaml
	source = jfrog-artifactory-oss-7.7.8-linux.tar.gz::https://jfrog.bintray.com/artifactory/org/artifactory/oss/jfrog-artifactory-oss/7.7.8/jfrog-artifactory-oss-7.7.8-linux.tar.gz
	source = artifactory-oss.service
	source = artifactory-oss-user.conf
	source = artifactory-oss-tmpfile.conf
	sha256sums = d5b1b5a791b1a5fade98f0bdfb257bd12e25edaf7aa0ef30036f4665a807dff4
	sha256sums = 373c9b110263b98d0d60e3e432110bc2ae15e819fdb722fa2888c3c1dfd47891
	sha256sums = 2e6285bb5ab580a8f4a47580ffacfec9a537190d94c9fe11a2f82c6e65a9ba8a
	sha256sums = dbc02c8e022c05bdc6ba6bf3e56b7be800142a0e0ad068db27a5b0d3f0a9dc9d

pkgname = artifactory-oss

