[Unit]
Description=An advanced Binary Repository Manager for use by build tools, dependency management tools and build servers
After=network.target

[Service]
Type=forking
ExecStart=/usr/share/webapps/artifactory/bin/artifactory.sh start
ExecStop=/usr/share/webapps/artifactory/bin/artifactory.sh stop
PIDFile=/usr/share/webapps/artifactory/run/Artifactory.pid
Restart=no
TimeoutSec=30
RemainAfterExit=yes
User=artifactory

[Install]
WantedBy=multi-user.target

